body {
  /* background-color: lightskyblue; */
  background-image: url("https://media.istockphoto.com/vectors/pixel-art-star-sky-at-night-vector-id1219022871?k=20&m=1219022871&s=612x612&w=0&h=5tXWlJP0KEIS4cx725-pB51A1uIY9O64osyTl339CPk=");
  background-repeat: repeat-y repeat-x;
  font-family: "VT323", monospace;
  font-weight: 100;
  color: black;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

h2 {
  font-size: 35px;
}

.bold-text {
  font-family: "Press Start 2P", cursive;
  font-size: 23px;
  font-weight: bolder;
  position: relative;
  top: 5px;
}

body > div {
  padding: 5px;
  font-size: large;
}

#starter-window {
  background-color: rgba(172, 172, 172, 0.205);
  padding: 40px;
}

header {
  font-size: 50px;
  font-family: "Press Start 2P", cursive;
  padding: 20px;
}

.square {
  padding: 10px;
  margin: 10px;
  background-color: white;
  display: inline-block;
  height: 30px;
  width: 30px;
  vertical-align: top;
}

.square:hover {
  background-color: rgba(255, 212, 219, 0.205);
}

.message {
  padding: 50px;

  font-family: "Tillium Web", sans-serif;
  /* font-style: italic; */
  font-size: xx-large;
  font-weight: 750;
}

button {
  width: fit-content;
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
  text-align: center;
  border: rgba(0, 0, 0, 0.884) solid 4px;
  border-radius: 5px;

  margin: 10px 10px;

  background-color: whitesmoke;
}

button:hover {
  background-color: darkslateblue;
}

::placeholder {
  font-family: "Tillium Web", sans-serif;
  color: lightgrey;
  font-size: small;
}

#button-yes {
  padding: 10px;
}
#button-no {
  padding: 10px;
}

#mute-button {
  background-color: thistle;
  position: fixed;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-image: url("images/speaker.png");
  background-size: cover;
}

#mute-button.muted {
  background-color: rgba(38, 19, 121, 0.24);
  border-color: rgba(0, 0, 0, 0.678);
}

#payout-table {
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 3px;
}

#combo-column {
  padding: 5px;
  margin: 3px;
  text-align: end;
}

#payout-column {
  padding: 5px;
  margin: 3px;
  text-align: left;
}

#five-card-container {
  width: 95vw;
  height: auto;
  min-width: 380px;
  /* max-height: 30vh; */
  background-color: none;

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  flex: 2 0 20%;
  margin: 5px;
  /* flex-grow: 1; */
  /* overflow: auto; */
}

.card-container {
  /* width: 15vw;
  height: 21vw; */
  /* flex-grow: 1; */
  font-size: 50px;
  width: 100px;
  height: 140px;
  min-width: auto;
  background-color: whitesmoke;
  border-radius: 7px;
  margin: 3px;

  display: flex;
  justify-content: center;
  align-items: center;
  border: rgb(24, 24, 24) solid 4px;
}

.card-container.red {
  color: rgb(107, 0, 0);
  /* border: rgb(107, 0, 0) solid 6px; */
}

.card-container:hover {
  position: relative;
  z-index: 100;
  left: -5px;
  top: -15px;
}

.card-container.face-down {
  background-image: url("images/RA-pixellate2.png");
  background-size: cover;
  background-color: darkslateblue;
}

.card-container.face-down:hover {
  background-image: url("images/RA-pixellate2.png");
  background-size: cover;
  background-color: darkslateblue;
  position: relative;
  left: 0px;
  top: 0px;
}

.card-container.discard {
  background-color: darkslateblue;
}

/* .card-container.discard::after {
  background-color: rebeccapurple;
  color: rgba(221, 160, 221, 0.808);
  content: "DISCARD";
  width: 100px;
  font-size: 30px;
  position: fixed;
  top: 320px;
  z-index: 101;
} */

#ui-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#display-message {
  background-color: thistle;
  border: rgb(20, 20, 20) solid 4px;
  font-size: 27px;
  height: 80px;
  width: 93%;
  max-width: 650px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#button-container {
  width: 95vw;
  height: 125px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#bet-increase-div {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

#bet-increase-div > button {
  font-size: 15px;
  padding: 3px;
  flex-grow: 1;
  font-size: 15x;
  height: auto;
  margin-left: 0;
  margin-right: 0;
  width: 150px;
}
#bet-plus-1 {
  margin-top: 0;
}
#bet-minus-1 {
  margin-bottom: 0;
}

#your-bet-div {
  background-color: plum;
  font-size: 25px;
  word-wrap: normal;
  padding: 10px;
  margin: 10px 10px;
  border: rgb(20, 20, 20) solid 4px;
}

#max-bet-button {
  /* display: flex; */
  width: 150px;
  /* flex-shrink: 1; */
}

#credit-balance-div {
  width: 90%;
  max-width: 650px;
  background-color: plum;
  font-size: 25px;
  word-wrap: normal;
  padding: 10px;
  border: rgb(20, 20, 20) solid 4px;
}

#deal-button {
  width: 100%;
  max-width: 650px;
  min-height: 50px;
  background-color: royalblue;
}

#deal-button:disabled {
  background-color: rgba(38, 19, 121, 0.24);
  border-color: rgba(0, 0, 0, 0.164);
}

#deal-button:hover {
  background-color: rgb(44, 74, 163);
}

#deal-button:hover:disabled {
  background-color: rgba(38, 19, 121, 0.24);
  border-color: rgba(0, 0, 0, 0.164);
}

#x-credits {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

button:disabled {
  background-color: rgba(38, 19, 121, 0.24);
  border-color: rgba(0, 0, 0, 0.164);
}
